@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  scroll-padding-top:4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  border: none;
}


#one{
  color:black;
  align-items: center;
}

header{
  position: fixed;
  width: 100%;
  top:0;
  right: 0;
  z-index:1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  transition: 0.4s linear;
  background: brown;
}

header.shadow{
  background: green;
  box-shadow: black;
}

.logo img{
  width: 53px;
  height: 50px;
}

.navbar{
  display: flex;
}

.navbar a{
  padding:8px 17px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar a:hover{
  background:brown;
  border-radius: 0.3rem;
  transition: 0.2s all linear;
}

.home{
  width: 100%;
  min-height: 100vh;
  background: url(/IMG/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,auto));
  align-items:center;
  gap: 1.5rem;
  padding: 50px 100px;
}

.home-text h1{
  font-size: 3.4rem;
  color: sandybrown;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-text p{
  font-size: 22px;
  color: lightblue;
  margin: 0.5rem 0 1.4rem;
}

.btn{
  padding: 5px;
  border-radius: 0.3rem;
  background: brown;
  color: lightblue;
  font-weight: 500;
  
}

.btn:hover{
  background: greenyellow;
}

.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url('/Menu/Coffee Beans Background Banner_20241112_144135_0000.png');
  background-size: cover;
  padding: 50px 100px;
}

.gallery img{
  width:350px;
  height:250px;
  border: 2px solid white;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px black;
  cursor:pointer;
  margin: 10px;
  transition: 400ms;
  transition: transform 0.2s;
}

.gallery img:hover{
  filter: grayscale(1);
  transform: scale(1.03s);
  transform: scale(1.1);
}

h3{
  font-weight:bold;
  color:white;
  text-align: center;
  font-size: 40px;
  background-color: black;
}

.about{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,auto));
  align-items:center;
  gap: 1.5rem;
  padding: 50px 100px;
}

.about-img img{
  border-radius: 0.5rem;
  width: 100%;
  height: 360px;
  transition: transform 0.2s;
}

.about-img img:hover {
  transform: scale(1.1);
}

.about-text h2{
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
}

.about-text p{
  font-size: 20px;
  font-weight: bold;
  font-family: serif;
}

.footer{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,auto));
  gap: 1.5rem;
  padding: 50px 100px;
}

.footer-bx h4{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.footer-bx p{
  font-size: 0.900rem;
  margin-bottom: 10px;
}

.social{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 30px;
}

.social img{
 width: 33px;
 height: 33px;
}

#Tik{
  width:47px;
  height: 56px;
}

.social a .bx{
  font-size: 24px;
  color:black;
  padding: 10px;
  background: whitesmoke;
  border-radius: 0.2rem;
}

.social a .bx:hover{
  background-color: brown;
  color:white;
}

.footer-bx li a{
  color:black;
  font-size: 20px;
}

.footer-bx li a:hover{
  color:brown;
}

.contact{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.contact img{
  width: 25px;
  height: 25px;
}
.contact span{
  display:flex;
  align-items: center;
}

.contact i{
  font-size: 20px;
  margin-right:1rem;
}

.Bb{
  padding: 20px;
  text-align: center;
  background-color: whitesmoke;
}
 /*PRODUCT*/ 


.slogan{
  background-image: url(IMG/second.png);
  height: 35vh;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
  margin-top: 50px;
  background-size: cover;
  border-radius: 20px;
}

/*Menu*/

.section-heading{
  font-size: 40px;
  font-family: serif;
  text-transform: uppercase;
  margin:1rem 0 10px 0;
  text-align: center;
  margin-top: 100px;
}

.menu-list{
  display: flex;
  gap:12px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item{
  width: 114px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  padding:10px 13px;
  border-radius: 10px;
}

.menu-item img{
  width: 100%;
}


/*PICTURE*/

.g{
  padding: 10px 6px;
  background-image: url('Menu/Coffee Background Facebook Cover_20241112_144652_0000.png');
  background-size: cover;
}


.k{
  padding: 10px 6px;
  background-image: url('Menu/Coffee Background Facebook Cover_20241112_144652_0000.png');
  background-size: cover;
}

.l{
  padding: 10px 6px;
  background-image: url('Menu/Coffee Background Facebook Cover_20241112_144652_0000.png');
  background-size: cover;
}

.c {
  padding: 10px 6px;
  background-image: url('Menu/Coffee Background Facebook Cover_20241112_144652_0000.png');
  background-size: cover;
}

.card-list{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
}

.card{
 width: 180px;
 height: 270px;
 display: flex;
 align-items: center;
 flex-direction: column;
 border: 2px solid whitesmoke;
 padding:10px 13px;
 border-radius: 10px;
 color:black;
 box-shadow: 0px 10px 15px -3px black;
 gap:13px;
 text-align: center;
 background-color: lightblue;
 transition: transform 0.2s;
}

.card:hover{
  transform: scale(1.07);
}

.card img{
  width: 100%;
  height: 1800px;
}

.milktea-price{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
}

.milktea-price .price{
  color: darkslategrey;
  font-weight: 600;
  margin-top: 5px;
}

.milktea-title{
  font-size: 26px;
  font-family: serif;
}

.con{
  background-color:lightseagreen;
  color: white;
  min-width: 85px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  height:30px;
  box-shadow: 0px 6px 7px -3px black;
}

.con span{
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}


/*FORM*/

#billing-section {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 8px;
  background-color: burlywood;
  margin-left: 10px;
  margin-right: 10px;
}

#billing-graph {
  width: 100%;
  border-collapse: collapse;
}

#ww{
  font-size: 50px;
  text-align: center;
  
}

#billing-graph th, #billing-graph td {
  padding: 8px 12px;
  border: 1px solid #ccc;
  text-align: left;
}

#billing-graph th {
  background-color: #f2f2f2;
}